.making-survey {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
}

.making-survey__border {
  box-shadow: 1px 2px 5px 1px rgb(170, 170, 170);
}

.making-survey__title-box {
  width: 770px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
}

.making-survey__boxColor {
  background-color: #b38941;
  height: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.making-survey__title-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 20px;
}

.making-survey__title {
  font-weight: 600;
  font-size: 1.8rem;
}

.making-survey__title,
.making-survey__title-explanation {
  border: none;
  width: 100%;
  border-bottom: 1px solid #efefef;
}

.making-survey__title-explanation,
.making-survey__title-explanation::placeholder {
  resize: none;
  font-size: 1.1rem;
}

.making-survey__title:focus,
.making-survey__title-explanation:focus {
  outline: none;
  border-bottom: 1px solid #b38941;
}

.making-survey__botton-box {
  display: flex;
  width: 730px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.select-filter {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-weight: 500;
}

/* .thumbnail-upload-button {
  background-color: #1f4072;
  color: white;
  border-radius: 20px;
  font-size: 1rem;
  padding: 2px 7px;
} */

.filter-contents__thumbnail,
.filter-contents__method,
.filter-contents__gifticon,
.filter-contents__kategories {
  display: flex;
}

.filter-contents__thumbnail li,
.filter-contents__method li,
.filter-contents__gifticon li,
.filter-contents__kategories li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.filter-contents__header {
  height: 30px;
  line-height: 30px;
  width: 4.5rem;
  box-sizing: border-box;
}

.select-filter__filter-contents input[type='radio'] {
  margin-bottom: 5px;
  margin-right: 4px;
}

.select-filter__title {
  font-weight: 600;
  height: 20px;
}
