.IntroHeader,
.header {
  position: fixed;
  box-sizing: border-box;
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 70px 0px 35px;
  background-color: white;
}

.IntroHeader__hdr-right,
.header__hdr-right {
  font-size: 1.6rem;
  font-weight: 900;
}

.IntroHeader__hdr-left,
.header__hdr-left {
  display: flex;
  gap: 15px;
}
