.main-upper {
  padding-top: 55px;
  position: relative;
}

.main-upper__img {
  filter: blur(2px);
}

.main-upper__bg {
  position: absolute;
  background-color: black;
  height: 300px;
  width: 100%;
  top: 55px;
  z-index: 0;
  opacity: 0.5;
}

.main-upper__text {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: #f6f6f6;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-page__surveys {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 900px;
  text-align: center;
}

.survey {
  background-color: white;
  height: 260px;
  width: 290px;
}

.survey__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  padding: 10px 10px;
  font-size: 1.1rem;
  font-weight: 600;
  word-break: keep-all;
}

.pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 50px 0px;
  font-size: 1.4rem;
  font-weight: 400;
  color: black;
}

.pagenation li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

/* 선택된 페이지 */
.pagenation li:nth-child(2) {
  background-color: #b38941;
  border-radius: 50%;
  color: white;
  font-weight: 600;
}

.pagenation__chevron {
  padding-bottom: 4px;
  color: #b38941;
}

.pagenation li:hover:not(.pagenation__chevron) {
  background-color: rgba(179, 137, 65, 0.4);
  border-radius: 50%;
}
