@import 'fonts/pretendard';

* {
  font-family: 'Pretendard';
}

main {
  min-height: 100vh;
  padding: 55px 200px 0px 185px;
  background-color: #f6f6f6;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.btn-basic {
  height: 2.5rem;
  padding: 0px 1.5rem;
  background-color: #b38941;
  color: #f6f6f6;
  font-size: 1.1rem;
  font-weight: 700;
}

.eungdap-title {
  color: #b38941;
  font-weight: 900;
}
