* {
  font-family: 'NanumGothic';
}

main {
  min-height: 100vh;
  padding-top: 50px;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.btn-basic {
  height: 35px;
  padding: 0px 10px;
  border-radius: 15px;
  background-color: #7d6bf2;
  color: white;
}

.eungdap-title {
  color: #7d6bf2;
  font-weight: 600;
}
