@font-face {
  font-family: 'NanumGothic';
  src: url('fonts/AnyConv.com__NanumGothic.woff') format('woff');
}

@font-face {
  font-family: 'NanumGothic';
  src: url('fonts/AnyConv.com__NanumGothicBold.woff') format('woff');
}

@font-face {
  font-family: 'NanumGothic';
  src: url('fonts/AnyConv.com__NanumGothicExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'NanumGothic';
  src: url('fonts/AnyConv.com__NanumGothicLight.woff') format('woff');
}
